.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.list {
  border: 1px solid#dcd4d4;
  margin: 1rem;
  display: flex;
  align-items: center;
  min-height: 5.2rem;
  background: beige;
  max-width: fit-content;
  border-radius: 14px;
}

.innerList {
  padding: 0 10px;
  position: relative;
  min-width: 4%;
}

.listContent {
  display: flex;
  align-items: center;
  margin: 0;
}

.value {
  margin: 0;
}

.text {
  white-space: nowrap;
  font-size: small;
  font-family: monospace;
  margin-bottom: 5px;
}

.avatar-container {
  min-width: 4%;
  float: left;
}

.avatar {
  border: 1px solid #dcd4d4;
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.avatar img {
  max-width: 100%;
  border-radius: 50%;
}